*{
    padding: 0;
    margin: 0;
}
body{
    background: white;
}
.nav-bar{
    width: 100%;
    background-color: #1B7B3C;
    height: 70px;
    position: fixed;
    top: 0;
}
.logo{
    float: left;
    width: 20%;
}
.nav{
    float: right;
    width: 80%;
    text-align: end;
}
.fud-logo{
    margin-top: 6px;
}
.nav ul{
    margin-right: 20px;
}
.nav li{
    display: inline;
    font-family:  sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: 38px;
}
.nav li a{
    text-decoration: none;
    color: #FFF;
    padding: 20px 15px 15px 15px;
    border-radius: 12px 12px 0px 0px;
    transition: 0.5s;

}
.nav li a:hover{
    padding: 20px 15px 15px 15px;
    border-radius: 12px 12px 0px 0px;
    background: rgba(217, 217, 217, 0.35);
    transition: 0.5s;
}
.nav ul li .active{
    border-radius: 12px 12px 0px 0px;
    padding: 20px 15px 15px 15px;
    color: #1B7B3C;
    background: rgb(255, 253, 253);
    transition: 0.5s;
}
#bars{
    display: none;
}
.sch-name2{
    color: #FFF;
    font-family:  Sans-serif;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    left: 80px;
    top: -53px;
}
.log{
    color: #FFF;
    font-family:  Sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    left: 80px;
    top: -53px;
}
.drop-cont{
    display: none;
  }
.clr{
    clear: both;
}
.sec-line{
    width: 100%;
    height: 100px;
    margin-top: 110px;
}
.heading{
    border-radius: 0px 10px 40px 0px;
    background: #1B7B3C;
    width: 23%;
    height: 80px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 100;
    float: left;
    text-align: end;
    padding: 30px 45px 5px 5px;
    box-sizing: border-box;
}
.content{
    display: flex;
    margin: 35px;
    margin-bottom: 50px;
}
.box1{
    flex: 1;
    width: 20%;
height: 344px;
border-radius: 30px;
background: rgba(27, 123, 60, 0.76);
/* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
margin-left: 2%;
margin-right: 2%;
text-align: center;
transition: 0.5s;
}
.box1:hover{
    width: 20%;
    height: 344px;
    margin-top: -20px;
    transition: 0.5s;
    background: #07752e;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.box1 a{
    text-decoration: none;
}
.content .content-text{
    color: #000;
    text-align: center;
    font-family:  Sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 0 25px 0 25px;
}
.content .content-image{
    margin-bottom: 30px;
    padding: 60px 90px 20px 90px;
}

input[type=search]{
    width: 30%;
    height: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background:rgba(27, 123, 60, 0.36) url(/images/Vector-search.svg) no-repeat ;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    background-size: 25px;
    padding: 4px 10px 4px 70px;
    box-sizing: border-box;
    background-position: 20px ;
    border: none;
    transition: 0.5s;
    outline: none;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    float: right;
    

}
input[type=search]:focus{
    width: 65%;
    transition: 0.5s;
    background:rgba(27, 123, 61, 0.39) url(/images/Vector-search.svg) no-repeat ;
    background-size: 25px;
    background-position: 20px ;
}
.footer{
    position: relative;
    width: 100%;
    height: 100px;
    background:  #07752e;
    overflow: hidden;
    bottom: 0px;
    margin-bottom: 0;
   
}
.footer p{

display: inline;
margin-left: 13%;
margin-top: 40px;
}
.footer a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
}
.footer p:hover{
    text-shadow: 3px 3px 3px #0c0c0c ;
    
}
.text{
    margin-top: 30px;
}
#copy{
    font-size: 30px;
    margin-top: 7px;
}
.footer img{
    position: relative;
    top: 7px;
}
.footer .button{
    padding: 10px;
    /* border: 2px solid  rgb(2, 56, 7); */
    border-radius: 7px;
    background: #90b19c94;
}
.button a{
    color: #181616;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.button:hover, .button a:hover {
    background-color: #1B7B3C;
    color: #f7f7f7;
}
@media (max-width:1200px) {
    .content .content-text{
        font-size: 18px;
       
    }
    .content .content-image{
        height: 50px;
        width: 50px;
        margin-bottom: 30px;
        padding: 60px 20px 40px 20px;
    }
    .heading{
        height: 60px;
        padding: 15px 45px 5px 5px;
    }
    .nav li{
        display: inline;
        font-family:  sans-serif;
        font-size: 12px;
        font-weight: 500;
        margin-left: 3px;
        margin-right: 3px;
        position: relative;
        top: 38px;
    }
    .footer{
        height: 150px;
    }
}
@media (max-width:800px){
    .drop-cont ul li{
        display: block;
        padding-top: 30px;
      }
      .drop-cont {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #069642f1;
        min-width: 160px;
        height: 100vh;
        padding: 12px 16px;
        z-index: 1;
    } 
    .drop:hover .drop-cont {
        display: block;
    }
    .content{
        display:block;
        margin: 45px 5px;
        margin-bottom: 50px;
    }
    .box1{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 50px;
    }
    .box1:hover{
        width: 70%;
        height: 344px;
        margin-top: -20px;
        transition: 0.5s;
        background: #07752e;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .heading{
        width: 25%;
        height: 60px;
        font-size: 8px;
        padding: 20px 25px 5px 5px;
    }
    .nav li{
        display: none;
    }
    #bars{
        display: inline;
    }
    .footer{
        height: 210px;
    }
    .footer p{

        display: block;
        margin-left: 13%;
        margin-top: 7px;
        }
        .footer .button{
            width: 15%;
        }
}