
        body {
        
                height: 100vh;
                background-image: url("/images/sch-logo.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-size: 500px;
                background-position: center;
                background-color: #005c1f9a;
                background-blend-mode: overlay;
            font-family: sans-serif;
        }
        .container {
            width: 40%;
            padding: 16px;
            background-color: rgba(255, 255, 255, 0.432);
            margin: 0 auto;
            margin-top: 100px;
           
            border-radius: 30px;
        }
        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 6px;
        }
        input[type=email], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            margin-bottom: 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 6px;
        }
        input[type=submit]{
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 20%;
            border: none;
            cursor: pointer;
            width: 60%;
            margin-top: 30px;
            

        }
        input[type=submit]:hover {
            opacity: 0.8;
        }